body {
	background-color: lightsteelblue;
}
h1 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 400%;
	font-family: "Audiowide", sans-serif;


}

ul {
	font-family: Arial;
	list-style-type: none;
	margin: 50;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* change the link color to #111 on hover */
li a:hover {
	background-color: #111;
}

#pitText {
	 
    width: 400px;
    height: 170px;
    color: white;
    padding: 20px;
	background-color:;
	font-size: larger;
}
#bros {
	text-align: center;
	position:relative;
	size: 75%;
}




